# Ignore compiled Python files
*.pyc
__pycache__/

# (Optional) Ignore VSCode settings and other common files
.vscode/
*.log
*.sqlite
*.db

# Ignore VSCode's temporary file for code runner
tempCodeRunnerFile.py

# VSCodeCounter Extension
.VSCodeCounter